@page
@model ProjectsModel
@{
    ViewData["Title"] = "About";
}

<div class="row text-center">
    <div class="col-lg-3">
        <a href="https://budgetpeeker.azurewebsites.net" target="_blank">
            <img class="img-thumbnail" src="images/budgetpeeker.png" alt="Budget Peeker thumbnail"/>
        </a>
        <hr/>
        <h5 style="font-family: 'Montserrat', sans-serif;">Budget Peeker</h5>
        <p>
            As a self-proclaimed civic minded coder and recent transplant to the Sacramento area, I wanted a tool that the 
            public could use to help increase their perceived transparency into the City of Sacramento's financial data. 
            Built with ASP.NET Core and SQLite3, this app helps to find data for users corresponding to the approved Sacramento 
            budget for fiscal years 2015 through 2018. 
        </p>

    </div>
    <div class="col-lg-3">
        <a href="https://brewdogger.azurewebsites.net" target="_blank">
            <img class="img-thumbnail" src="images/brewdogger.png" alt="Brewdogger thumbnail"/>
        </a>
        <hr/>
        <h5 style="font-family: 'Bungee Inline', sans-serif;">Brewdogger</h5>
        <p>
            I wanted a place where I could search for any beer I could think of, but alas, could not find an app I liked. 
            So... why not build one? Brewdogger was built with Angular 4 on the frontend coupled with ASP.NET Core 2.0 
            on the backend, along with the help of the BreweryDB API, and deployed using Azure. Search for beers and 
            breweries at your own leisure, you might find something new! 
        </p>
    </div>
    <div class="col-lg-3">
        <a href="http://readdit-django.herokuapp.com/" target="_blank">
            <img class="img-thumbnail" src="images/readdit.jpg" alt="Readdit thumbnail"/>
        </a>
        <hr/>
        <h5 style="font-family: sans-serif;">Readdit</h5>
        <p>
            Welcome to Readdit: the backpage of the internet (a Reddit clone, more or less). The result of weekend 
            curiosity of Django. In astronomy and astophysics, Python is all the rage and a language near and dear to my 
            numerical computing heart. So, why not take it for a spin on the web? Sign up, post a URL, test it out... 
            its just as good as the real thing (not really). 
        </p>
    </div>
    <div class="col-lg-3">
        <a href="http://beerography.herokuapp.com/" target="_blank">
            <img class="img-thumbnail" src="images/beerography.png" alt="Beerography thumbnail"/>
        </a>
        <hr/>
        <h5 style="font-family: 'Lobster', sans-serif;">Beerography</h5>
        <p>
            The result of another weekend excursion into the ZingChart data visualization JavaScript library. This project 
            consists of simple data analytics of craft beer in a variety of facets, specifically the "beerography" of 
            San Diego.
        </p>
    </div>
</div>
