@page
@model StackModel
@{
    ViewData["Title"] = "Stack";
}

@* Accordion *@
<div id="accordion">

    @* Languages *@
<div class="card">
    <div class="card-header" id="languagesHeader">
        <h2 role="button" style="cursor: pointer" data-toggle="collapse" data-target="#languagesCollapse" aria-expanded="true" aria-controls="languagesCollapse" class="text-center">Languages</h2>
    </div>
    <div id="languagesCollapse" class="collpase show" aria-labelledby="languagesHeader" data-parent="#accordion">
        <div class="card-body my-4">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h4>Most Frequently Used</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            @* C# *@
                            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                                <img src="images/csharp.png" class="img-fluid" alt="C#"/>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            @* Java *@
                            <a href="https://www.oracle.com/java/index.html" target="_blank">
                                <img src="images/stack/java.png" class="img-fluid" alt="Java"/>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            @* JavaScript *@
                            <a href="https://www.javascript.com/" target="_blank">
                                <img src="images/stack/js-logo.png" class="img-fluid" alt="JS"/>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            @* Python *@
                            <a href="https://www.python.org/" target="_blank">
                                <img src="images/stack/python.png" class="img-fluid" alt="Python"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @* Databases *@
    <div class="card">
        <div class="card-header" id="databasesHeader">
            <h2 role="button" style="cursor: pointer" data-toggle="collapse" data-target="#databaseCollapse" aria-expanded="true" aria-controls="databaseCollapse" class="text-center">Databases</h2>
        </div>
        <div id="databaseCollapse" class="collapse" aria-labelledby="databasesHeader" data-parent="#accordion">
            <div class="card-body my-4">
                <div class="row text-center">
                    <div class="col-sm-9">
                        <h4>SQL RDMS Preferences</h4>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                @* SQL Server *@
                                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank">
                                    <img src="images/stack/sql-server.png" class="img-fluid" alt="SQL Server"/>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                @* SQLite3 *@
                                <a href="http://sqlite.org/index.html" target="_blank">
                                    <img src="images/stack/sqlite3.png" class="img-fluid" alt="SQLite3"/>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                @* Postgres *@
                                <a href="https://www.postgresql.org/" target="_blank">
                                    <img src="images/stack/postgresql_logo-555px.png" class="img-fluid" alt="Postgres"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        @* Datagrip *@
                        <h4>SQL IDE</h4>
                        <hr/>
                        <a href="https://www.jetbrains.com/datagrip/" target="_blank">
                            <img src="images/stack/datagrip2.jpg" class="img-fluid" alt="Datagrip"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Backend *@
    <div class="card">
        <div class="card-header" id="backendHeader">
            <h2 role="button" style="cursor: pointer" data-toggle="collapse" data-target="#backendCollapse" aria-expanded="false" aria-controls="backendCollapse" class="text-center collapsed">Backend</h2>
        </div>
        <div id="backendCollapse" class="collapse" aria-labelledby="backendHeader" data-parent="#accordion">
            <div class="card-body my-4">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <h4>Proficient Frameworks</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* .NET Core *@
                                <a href="https://www.microsoft.com/net" target="_blank">
                                    <img src="images/stack/dotnet-core.png" class="img-fluid" alt=".NET Core"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* Spring *@
                                <a href="http://spring.io/" target="_blank">
                                    <img src="images/stack/spring.png" class="img-fluid" alt="Spring Framework"/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h4>Knowledable Frameworks</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* Django *@
                                <a href="https://www.djangoproject.com/" target="_blank">
                                    <img src="images/stack/django.png" class="img-fluid" alt="Django"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* Node *@
                                <a href="https://nodejs.org/en/" target="_blank">
                                    <img src="images/stack/node.png" class="img-fluid" alt="Nodejs"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Frontend *@
    <div class="card">
        <div class="card-header" id="frontendHeader">
            <h2 role="button" style="cursor: pointer" data-toggle="collapse" data-target="#frontendCollapse" aria-expanded="false" aria-controls="frontendCollapse" class="text-center collapsed">Frontend</h2>
        </div>
        <div id="frontendCollapse" class="collapse" aria-labelledby="frontendHeader" data-parent="#accordion">
            <div class="card-body my-4">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <h4>MVC Frameworks</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* ASP.NET Core MVC *@
                                <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.0" target="_blank">
                                    <img src="images/stack/mvc.png" class="img-fluid" alt="MVC"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* Spring MVC *@
                                <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html" target="_blank">
                                    <img src="images/stack/spring-mvc-logo.png" class="img-fluid" alt="Spring MVC"/>
                                </a>
                            </div>
                            @* <div class="col-sm-6"> *@
                            @*     $1$ Razor #1# *@
                            @*     <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.0" target="_blank"> *@
                            @*         <img src="images/stack/Razor.png" class="img-fluid" alt="Razor"/> *@
                            @*     </a> *@
                            @* </div> *@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>JavaScript Frameworks & Libraries</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* Angular *@
                                <a href="https://angular.io/" target="_blank">
                                    <img src="images/stack/angular.png" class="img-fluid" alt="Angular"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* jQuery *@
                                <a href="http://jquery.com/" target="_blank">
                                    <img src="images/stack/jquery.gif" class="img-fluid" alt="jQuery"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    @* UI/UX *@
    <div class="card">
        <div class="card-header" id="uiuxHeader">
            <h2 role="button" style="cursor: pointer" data-toggle="collapse" data-target="#uiuxCollapse" aria-expanded="false" aria-controls="uiuxCollapse" class="text-center collapsed">UI/UX</h2>
        </div>
        <div id="uiuxCollapse" class="collapse" aria-labelledby="uiuxHeader" data-parent="#accordion">
            <div class="card-body my-4">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <h4>Web Essentials</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* HTML5 *@
                                <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
                                    <img src="images/stack/html5.png" class="img-fluid" alt="HTML5"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* CSS3 *@
                                <a href="http://www.css3.info/" target="_blank">
                                    <img src="images/stack/css3.png" class="img-fluid" alt="CSS3"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>CSS Frameworks</h4>
                        <hr/>
                        <div class="row align-items-center h-100">
                            <div class="col-sm-6">
                                @* Bootstrap *@
                                <a href="http://getbootstrap.com/" target="_blank">
                                    <img src="images/stack/bootstrap.jpg" class="img-fluid" alt="Bootstrap"/>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                @* jQuery *@
                                <a href="https://sass-lang.com/" target="_blank">
                                    <img src="images/stack/sass.png" class="img-fluid" alt="Sass"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
</div>



@* $1$ Databases #1# *@
@* <div class="py-2" id="databases"> *@
@*     <h2 class="text-center">Databases</h2> *@
@*     <hr/> *@
@*     <div class="row text-center"> *@
@*         <div class="col-sm-9"> *@
@*             <h4>SQL RDMS Preferences</h4> *@
@*             <hr/> *@
@*             <div class="row"> *@
@*                 <div class="col-sm-4"> *@
@*                     $1$ SQL Server #1# *@
@*                     <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank"> *@
@*                         <img src="images/stack/sql-server.png" class="img-fluid" alt="SQL Server"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-4"> *@
@*                     $1$ SQLite3 #1# *@
@*                     <a href="http://sqlite.org/index.html" target="_blank"> *@
@*                         <img src="images/stack/sqlite3.png" class="img-fluid" alt="SQLite3"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-4"> *@
@*                     $1$ Postgres #1# *@
@*                     <a href="https://www.postgresql.org/" target="_blank"> *@
@*                         <img src="images/stack/postgresql_logo-555px.png" class="img-fluid" alt="Postgres"/> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="col-sm-3"> *@
@*             $1$ Datagrip #1# *@
@*             <h4>SQL IDE</h4> *@
@*             <hr/> *@
@*             <a href="https://www.jetbrains.com/datagrip/" target="_blank"> *@
@*                 <img src="images/stack/datagrip2.jpg" class="img-fluid" alt="Datagrip"/> *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <br class="my-4"/> *@
@* *@
@* $1$ Backend #1# *@
@* <div class="py-2" id="backend"> *@
@*     <h2 class="text-center">Backend</h2> *@
@*     <hr/> *@
@*     <div class="row text-center"> *@
@*         <div class="col-sm-6"> *@
@*             <h4>Proficient Frameworks</h4> *@
@*             <hr/> *@
@*             <div class="row align-items-center h-100"> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ .NET Core #1# *@
@*                     <a href="https://www.microsoft.com/net" target="_blank"> *@
@*                         <img src="images/stack/dotnet-core.png" class="img-fluid" alt=".NET Core"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ Spring #1# *@
@*                     <a href="http://spring.io/" target="_blank"> *@
@*                         <img src="images/stack/spring.png" class="img-fluid" alt="Spring Framework"/> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="col-sm-6"> *@
@*             <h4>Knowledable Frameworks</h4> *@
@*             <hr/> *@
@*             <div class="row align-items-center h-100"> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ Django #1# *@
@*                     <a href="https://www.djangoproject.com/" target="_blank"> *@
@*                         <img src="images/stack/django.png" class="img-fluid" alt="Django"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ Node #1# *@
@*                     <a href="https://nodejs.org/en/" target="_blank"> *@
@*                         <img src="images/stack/node.png" class="img-fluid" alt="Nodejs"/> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <br class="my-4"/> *@
@* *@
@* $1$ Frontend #1# *@
@* <div class="py-2" id="frontend"> *@
@*     <h2 class="text-center">Frontend</h2> *@
@*     <hr/> *@
@*     <div class="row text-center"> *@
@*         <div class="col-sm-6"> *@
@*             <h4>MVC Frameworks</h4> *@
@*             <hr/> *@
@*             <div class="row align-items-center h-100"> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ ASP.NET Core MVC #1# *@
@*                     <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.0" target="_blank"> *@
@*                         <img src="images/stack/mvc.png" class="img-fluid" alt="MVC"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ Spring MVC #1# *@
@*                     <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html" target="_blank"> *@
@*                         <img src="images/stack/spring-mvc-logo.png" class="img-fluid" alt="Spring MVC"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 $1$ <div class="col-sm-6"> #1# *@
@*                 $1$     $2$ Razor #2# #1# *@
@*                 $1$     <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.0" target="_blank"> #1# *@
@*                 $1$         <img src="images/stack/Razor.png" class="img-fluid" alt="Razor"/> #1# *@
@*                 $1$     </a> #1# *@
@*                 $1$ </div> #1# *@
@*             </div> *@
@*         </div> *@
@*         <div class="col-sm-6"> *@
@*             <h4>JavaScript Frameworks & Libraries</h4> *@
@*             <hr/> *@
@*             <div class="row align-items-center h-100"> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ Angular #1# *@
@*                     <a href="https://angular.io/" target="_blank"> *@
@*                         <img src="images/stack/angular.png" class="img-fluid" alt="Angular"/> *@
@*                     </a> *@
@*                 </div> *@
@*                 <div class="col-sm-6"> *@
@*                     $1$ jQuery #1# *@
@*                     <a href="http://jquery.com/" target="_blank"> *@
@*                         <img src="images/stack/jquery.gif" class="img-fluid" alt="jQuery"/> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <br class="my-4"/> *@
@* *@
@* $1$ UI/UX #1# *@
@* <div class="py-2" id="uiux"> *@
@*     <h2 class="text-center">UI/UX</h2> *@
@*     <hr/> *@
@*         <div class="row text-center"> *@
@*             <div class="col-sm-6"> *@
@*                 <h4>Web Essentials</h4> *@
@*                 <hr/> *@
@*                 <div class="row align-items-center h-100"> *@
@*                     <div class="col-sm-6"> *@
@*                         $1$ HTML5 #1# *@
@*                         <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"> *@
@*                             <img src="images/stack/html5.png" class="img-fluid" alt="HTML5"/> *@
@*                         </a> *@
@*                     </div> *@
@*                     <div class="col-sm-6"> *@
@*                         $1$ CSS3 #1# *@
@*                         <a href="http://www.css3.info/" target="_blank"> *@
@*                             <img src="images/stack/css3.png" class="img-fluid" alt="CSS3"/> *@
@*                         </a> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-sm-6"> *@
@*                 <h4>CSS Frameworks</h4> *@
@*                 <hr/> *@
@*                 <div class="row align-items-center h-100"> *@
@*                     <div class="col-sm-6"> *@
@*                         $1$ Bootstrap #1# *@
@*                         <a href="http://getbootstrap.com/" target="_blank"> *@
@*                             <img src="images/stack/bootstrap.jpg" class="img-fluid" alt="Bootstrap"/> *@
@*                         </a> *@
@*                     </div> *@
@*                     <div class="col-sm-6"> *@
@*                         $1$ jQuery #1# *@
@*                         <a href="https://sass-lang.com/" target="_blank"> *@
@*                             <img src="images/stack/sass.png" class="img-fluid" alt="Sass"/> *@
@*                         </a> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@* </div> *@
@* <br class="my-4"/> *@